@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

:root{
    --color0--:#FF4858;
    --color1--:#F0D635;
    --color2--:#4F1BBF;
    --color3--:#6112c9;
    --color4--:#4ACAD9;
    --color5--:#ffffff3a;
    --color6--:#0e0d0de1;

    --font1--: Arial, Helvetica, sans-serif;
    --font2--: "Playwrite HR Lijeva", sans-serif;
    --font3--: "Playwrite DK Loopet", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(240, 210, 171, 0.534);
}

/*header*/

header{
    background-image: linear-gradient(to right, var(--color2--), var(--color3--));
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.255);
}

.cabeca{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 50px 20px 20px;
}

.logo {
    display: inline-block;
}

.cabeca > p{
    display: inline-block;
    color: var(--color0--);
    display: flex;
    align-items: center;
    font-family: var(--font3--);
    font-weight: 600;
    font-size: 16px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.255);
    text-align: center;
}
.navegacao{
    display: flex;
    justify-content: center;
}

.navegacao > a{
    color: var(--color1--);
    text-decoration: none;
    font-family: var(--font2--);
    font-weight: bold;
    font-size: 20px;
    padding: 0px 25px;
    margin: 10px 0px 0px 35px;
}

.navegacao > a:hover{
    background-color: var(--color5--);
    border-radius: 10px;
    transition-duration: 0.5s;
}

/*Fim do header*/

/*Main*/

/*produtos*/

.produtos > h2{
    background-image: linear-gradient(to right, var(--color2--), var(--color3--));
    color: var(--color1--);
    border-radius: 10px 0px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.255);
    font-family: var(--font3--);
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.255);
    padding: 20px;
    margin: 20px 10px;
}

.container{
    display: inline-block;
    text-align: center;
}

.card{
    display: inline-block;
    border-radius: 10px 0px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.255);
    width: 300px;
    height: 280px;
    margin: 10px 10px;
    text-align: center;
}

.card > img{
    padding: 10px; 
}

/*Fim dos produtos*/

/*Sobre nós*/

#linha{
    background-image: linear-gradient(to right, var(--color2--), var(--color3--));
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.255);
    height: 5px;
    margin-top: 10px;
}

#Sobre{
    margin: 20px ;
    text-align: center;
}

.sn{
    color: var(--color0--);
    padding-bottom: 20px;
    font-family: var(--font2--);
    font-size: 3em;
    font-weight: 800;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.255);
}

#Sobre > p{
    color: var(--color3--);
    font-family: var(--font3--);
    font-size: 1.3em;
    font-weight: 600;
}

#imagem{
    width: 50px;
    height: 50px;
    margin: 10px 25px;
    cursor: pointer;
}

.img1:hover{
    filter: drop-shadow(2px 2px 3px rgb(3, 250, 110));
}

.img2:hover{
    filter: drop-shadow(2px 2px 3px rgb(253, 28, 65));
}

footer{
    background-color: var(--color2--);
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 5px;
}

footer > p > a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

footer > p > a:hover{
    text-decoration: underline;
}